@using System.Web.Optimization
@using Resources

<head>
    @Styles.Render("~/cssBundle/frontHome")
    @Styles.Render("~/cssBundle/generalApp")
    <link rel="stylesheet" href="~/Content/front/plugins/revolution_slider/css/rs-style.css" media="screen">
    <link rel="stylesheet" href="~/Content/front/plugins/revolution_slider/rs-plugin/css/settings.css" media="screen"> 
    <title>@General.ResourceManager.GetString(ViewData["Title"].ToString(), General.Culture)</title>
    @Header.Insert(Url)
    @L10n.Insert(Server, (ViewData["locale"]).ToString(), (ViewData["resourceTemplate"] ?? string.Empty).ToString(), Url)
</head>
