@using System.Web.Optimization
@using EL.Logic.ViewHelpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="realService">
    <div class="realHeader">
        <h2>Real service</h2>
    </div>
    <!-- BEGIN GOOGLE MAP -->
    <div id="map" class="gmaps margin-bottom-40" style="height:400px;"></div>
    <!-- END GOOGLE MAP -->
</div>

<div class="movableService">
    <div class="movableHeader">
        <h2>Movable service</h2>
    </div>
    <!-- BEGIN MOVABLE SERVICES -->
    <div class="row">
        <div id="movables" class="col-md-9 col-sm-9 blog-posts"></div>
    </div>
    <!-- END MOVABLE SERVICES -->
</div>

<!-- BEGIN CONTAINER -->
<div class="container">
</div>
<!-- END CONTAINER -->
@section Header
{
    @Html.Partial("~/Views/Base/Header.cshtml")
}
@section JsLoader
{
    @Html.Partial("~/Views/Base/JsLoader.cshtml")
}
@section TopMenu
{
    @Html.Partial("~/Views/Front/TopMenu.cshtml")
}
@section Home{
    <script src="http://maps.google.com/maps/api/js?sensor=true&language=ru" type="text/javascript"></script>
    @Scripts.Render("~/jsBundle/Backbone","~/jsBundle/front")
    <script type="text/javascript">
        jQuery(document).ready(function() {
            if (window.el == undefined)
                console.log('el is not defined in LayoutEL');
            else
                el.register('dateFormatter', el.Date, 'singleton', {
                    'days': '@Html.JsString((string) ViewBag.DayNames)',
                    'months': '@Html.JsString((string) ViewBag.MonthNames)',
                    'daysMin': '@Html.JsString((string) ViewBag.AbbrDayNames)',
                    'monthsMin': '@Html.JsString((string) ViewBag.AbbrMonthNames)',
                    'template': '@Html.JsString((string) ViewBag.DateTimeTemplate)'
                });
            App.buildUi();
            /*
            App.init();
            App.initBxSlider();
            */
            Index.initRevolutionSlider();
        });
    </script>

    <!-- END PAGE LEVEL JAVASCRIPTS -->
}